<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>首页，欢迎租车</title>
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport">
    <link href="../../static/layui2.6.8/css/layui.css" rel="stylesheet" th:href="@{/layui2.6.8/css/layui.css}"
          type="text/css">
</head>
<style>
    .layui-body {
        margin-top: 60px;
        position: initial !important;

    }

    .center-context {
        background: #f2f2f2;
    }

    .call-board > a {
        height: 25px;
        padding-left: 5px;
    }

    .layui-footer {
        left: 0 !important;
        text-align: center;
    }
</style>

<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo">汽车租赁</div>
        <!-- 头部区域（可配合layui 已有的水平导航） -->
        <ul class="layui-nav layui-layout-left">
            <li class="layui-nav-item"><a href="/main">首页</a></li>
            <li class="layui-nav-item"><a th:href="'/main/type?carTypeId=1'">车辆分类</a></li>
            <li class="layui-nav-item"><a th:href="'/main/search'">车辆搜索</a></li>
            <li class="layui-nav-item layui-this"><a th:href="'/main/carDetail/'+${carInfo.id}">车辆详情</a></li>
            <li class="layui-nav-item"><a href="#">公告</a></li>
        </ul>
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item" th:if="not ${session.customerId}"><a href="/customerLogin" id="login">登录</a></li>
            <li class="layui-nav-item" th:if="${session.customerId}"><img class="layui-nav-img" src="/default.jpg"></li>
            <li class="layui-nav-item" th:if="${session.customerId}"><span
                    th:text="${session.customer.username}"></span></li>
            <li class="layui-nav-item" th:if="${session.customerId}"><a href="/myOrder">我的订单</a></li>
            <li class="layui-nav-item" th:if="${session.customerId}"><a href="/myAssess">我的评价</a></li>
            <li class="layui-nav-item" th:if="${session.customerId}"><a href="/customerInfo">个人中心</a></li>
            <li class="layui-nav-item" th:if="${session.customerId}"><a href="/customer/exit" id="exit">退出</a></li>
        </ul>
    </div>

    <div class="layui-body layui-container" style="align-content: center;border: 30px">
        <div class="layui-container" style="padding: 15px;">
            <div class="layui-panel" style="padding: 10px">
                <h1 style="text-align: left;margin: 20px 10px">[[${carInfo.plateNumber}]]</h1>
            </div>
            <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;margin-bottom: 10px">
                <legend>车辆详情</legend>
            </fieldset>
            <div class="layui-row">
                <div class="layui-col-sm6">
                    <img class="layui-panel" style="width: 500px;padding: 15px" th:src="'/'+${carInfo.image}">
                    <div class="layui-btn-container" style="padding-top: 20px;margin-top: 10px">
                        <button class="layui-btn"
                                style="margin: 30px 30px"
                                th:if="${carInfo.status} eq '未出租'" th:onclick="goToZL([[${carInfo.id}]])"
                                type="button">点击租赁
                        </button>
                    </div>
                </div>
                <div class="layui-col-sm6">
                    <form action="" class="layui-form">
                        <div class="layui-form-item">
                            <label class="layui-form-label">车牌号</label>
                            <label class="layui-form-label" style="width: max-content;text-align: left">[[${carInfo.plateNumber}]]</label>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">车辆类型</label>
                            <label class="layui-form-label" style="width: max-content;text-align: left">[[${carInfo.carTypeName}]]</label>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">车辆品牌</label>
                            <label class="layui-form-label" style="width: max-content;text-align: left">[[${carInfo.brand}]]</label>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">车身颜色</label>
                            <label class="layui-form-label" style="width: max-content;text-align: left">[[${carInfo.carColor}]]</label>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">制造商</label>
                            <label class="layui-form-label" style="width: max-content;text-align: left">[[${carInfo.manufacturer}]]</label>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">生产日期</label>
                            <label class="layui-form-label" style="width: max-content;text-align: left">[[${#dates.format(carInfo.producedDate,
                                'yyyy-MM-dd')}]]</label>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">租金(元/天)</label>
                            <label class="layui-form-label" style="width: max-content;text-align: left">[[${carInfo.money}]]</label>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">押金(元)</label>
                            <label class="layui-form-label" style="width: max-content;text-align: left">[[${carInfo.cashPledge}]]</label>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">车辆状态</label>
                            <label class="layui-form-label" style="width: max-content;text-align: left">[[${carInfo.status}]]</label>
                        </div>

                    </form>
                </div>
            </div>

            <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;margin-bottom: 10px">
                <legend>用户评价</legend>
            </fieldset>

            <div class="layui-bg-gray" style="padding: 30px;">
                <div class="layui-panel" th:each="assess:${assesss}">
                    <div style="padding: 20px 20px;">[[${assess.remark}]]</div>
                    <div style="padding: 10px 10px;text-align: right">[[${assess.customerName}]]</div>
                    <div class="layui-panel" th:if="${assesss.size() eq 0}">
                        <div style="padding: 50px 30px;">暂无</div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</body>
<script src="layui2.6.8/layui.js" th:src="@{/layui2.6.8/layui.js}"></script>
<script>
    function goToZL(id) {
        layui.use(['layer'], function () {
            const layer = layui.layer;
            const $ = layui.$;

            layer.open({
                title: '提交订单',
                type: 2,
                skin: 'layui-layer-rim', //加上边框
                area: ['480px', '400px'], //宽高
                shade: 0.8,
                offset: 'auto',
                closeBtn: 1,
                moveType: 1,
                content: '/destine',
                success: function (layero, index) {
                    let body = layer.getChildFrame('body', index);
                    body.find('#carInfoId').val(id);
                },
            })
        });
    }
</script>
</html>
