<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>首页，欢迎租车</title>
    <link href="https://www.layuicdn.com/layui-v2.6.2/css/layui.css" rel="stylesheet" type="text/css"/>
</head>
<style>
    .layui-body {
        margin-top: 60px;
        position: initial !important;

    }

    .center-context {
        background: #f2f2f2;
    }

    .call-board > a {
        height: 25px;
        padding-left: 5px;
    }

    .layui-footer {
        left: 0 !important;
        text-align: center;
    }
</style>

<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo">汽车租赁</div>
        <!-- 头部区域（可配合layui 已有的水平导航） -->
        <ul class="layui-nav layui-layout-left">
            <li class="layui-nav-item"><a href="/main">首页</a></li>
            <li class="layui-nav-item"><a th:href="'/main/type?carTypeId='+${types.get(0).id}">车辆分类</a></li>
            <li class="layui-nav-item"><a th:href="'/main/search'">车辆搜索</a></li>
            <li class="layui-nav-item"><a th:href="'/main/notice/'+${notices.get(0).id}">公告</a></li>
        </ul>
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item" th:if="not ${session.customerId}"><a href="/customerLogin" id="login">登录</a></li>
            <li class="layui-nav-item" th:if="${session.customerId}"><img class="layui-nav-img" src="/default.jpg"></li>
            <li class="layui-nav-item" th:if="${session.customerId}"><span
                    th:text="${session.customer.username}"></span></li>
            <li class="layui-nav-item" th:if="${session.customerId}"><a href="/myOrder">我的订单</a></li>
            <li class="layui-nav-item" th:if="${session.customerId}"><a href="/myAssess">我的评价</a></li>
            <li class="layui-nav-item layui-this" th:if="${session.customerId}"><a href="#">个人中心</a></li>
            <li class="layui-nav-item" th:if="${session.customerId}"><a href="/customer/exit" id="exit">退出</a></li>
        </ul>
    </div>

    <div class="layui-body layui-container">
        <div class="layui-container" style="padding: 15px;">
            <div class="layui-row  layui-col-space10">
                <div class="layui-col-md2">
                    <div style="text-align: center;background: #a3b9c3;font-size: 20px;">汽车分类</div>
                    <div class="layui-panel">
                        <ul class="layui-nav layui-nav-tree" lay-filter="test">
                            <li class="layui-nav-item layui-nav-itemed" style="height: 50px;" th:each="type:${types}">
                                <div class="layui-menu-body-title">
                                    <a th:href="'/main/type?carTypeId='+${type.id}" th:text="${type.name}"></a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="layui-col-md8 center-context">
                    <form class="layui-form" lay-filter="username">
                        <div class="layui-form-item">
                            <label class="layui-form-label">用户名</label>
                            <div class="layui-input-inline">
                                <input autocomplete="off" class="layui-input" id="username" lay-verify="required"
                                       name="username"
                                       readonly
                                       required th:value="${info.username}"
                                       type="text">
                            </div>
                            <div class="layui-form-mid layui-word-aux">用户名不能更改</div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">余额</label>
                            <div class="layui-input-inline">
                                <input autocomplete="off" class="layui-input" lay-verify="required" name="money"
                                       placeholder="请输入余额"
                                       readonly
                                       required th:value="${info.money}"
                                       type="text">
                            </div>
                            <div class="layui-form-mid layui-word-aux">余额</div>
                            <button class="layui-btn" lay-filter="submitTopUp" lay-submit type="submit">充值</button>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">冻结金</label>
                            <div class="layui-input-inline">
                                <input autocomplete="off" class="layui-input" lay-verify="required" name="money"
                                       placeholder="冻结金"
                                       readonly
                                       required th:value="${info.freeze}"
                                       type="text">
                            </div>
                            <div class="layui-form-mid layui-word-aux">冻结金</div>
                        </div>
                    </form>
                    <form class="layui-form" lay-filter="info">
                        <!-- id是隐藏的，但是提交时会一起提交给后台-->
                        <div class="layui-form-item">
                            <label class="layui-form-label">手机号</label>
                            <div class="layui-input-inline">
                                <input autocomplete="off" class="layui-input" id="phone" lay-verify="required|phone"
                                       name="phone"
                                       placeholder="请输入手机号"
                                       required
                                       th:value="${info.phone}" type="tel">
                            </div>
                            <div class="layui-form-mid layui-word-aux">请输入手机号</div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">邮箱</label>
                            <div class="layui-input-inline">
                                <input autocomplete="off" class="layui-input" lay-verify="required|email" name="email"
                                       placeholder="请输入邮箱"
                                       required th:value="${info.email}"
                                       type="text">
                            </div>
                            <div class="layui-form-mid layui-word-aux">邮箱</div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">性别</label>
                            <div class="layui-input-inline">
                                <input name="gender" th:checked="${info.gender=='男'}" title="男" type="radio" value="男">
                                <input name="gender" th:checked="${info.gender=='女'}" title="女" type="radio" value="女">
                            </div>
                        </div>

                        <!--private String address;-->
                        <div class="layui-form-item">
                            <label class="layui-form-label">地址</label>
                            <div class="layui-input-inline">
                                <input autocomplete="off" class="layui-input" name="address"
                                       placeholder="请输入地址"
                                       th:value="${info.address}"
                                       type="text">
                            </div>
                            <div class="layui-form-mid layui-word-aux">地址</div>
                        </div>
                        <!--private String profession;-->
                        <div class="layui-form-item">
                            <label class="layui-form-label">职业</label>
                            <div class="layui-input-inline">
                                <input autocomplete="off" class="layui-input" name="profession"
                                       placeholder="请输入职业"
                                       th:value="${info.profession}"
                                       type="text">
                            </div>
                            <div class="layui-form-mid layui-word-aux">职业</div>
                        </div>
                        <!--private String idNumber;-->
                        <div class="layui-form-item">
                            <label class="layui-form-label">身份证</label>
                            <div class="layui-input-inline">
                                <input autocomplete="off" class="layui-input"
                                       name="idNumber"
                                       placeholder="请输入身份证"
                                       th:value="${info.idNumber}"
                                       type="text">
                            </div>
                            <div class="layui-form-mid layui-word-aux">身份证</div>
                        </div>
                        <div class="layui-form-item">
                            <div class="layui-input-block">
                                <button class="layui-btn" lay-filter="info-submit" lay-submit type="submit">立即提交
                                </button>
                            </div>
                        </div>
                    </form>
                    <form class="layui-form" lay-filter="password">
                        <div class="layui-form-item">
                            <label class="layui-form-label">旧密码</label>
                            <div class="layui-input-inline">
                                <input autocomplete="off" class="layui-input" id="oldPassword"
                                       lay-verify="required|pass"
                                       name="oldPassword"
                                       placeholder="请输入密码"
                                       required type="password">
                            </div>
                            <div class="layui-form-mid layui-word-aux">请输入6-12密码</div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">新密码</label>
                            <div class="layui-input-inline">
                                <input autocomplete="off" class="layui-input" id="newPassword"
                                       lay-verify="required|pass"
                                       name="newPassword"
                                       placeholder="请输新入密码"
                                       required type="password">
                            </div>
                            <div class="layui-form-mid layui-word-aux">请输入6-12密码</div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">确认密码</label>
                            <div class="layui-input-inline">
                                <input autocomplete="off" class="layui-input" id="newPassword2"
                                       lay-verify="required|pass"
                                       name="newPassword2"
                                       placeholder="请再一次输入"
                                       required type="password">
                            </div>
                            <div class="layui-form-mid layui-word-aux">请输入6-12密码</div>
                        </div>
                        <div class="layui-form-item">
                            <div class="layui-input-block">
                                <button class="layui-btn" lay-filter="password-submit" lay-submit type="submit">立即提交
                                </button>
                                <button class="layui-btn layui-btn-primary" type="reset">重置</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="layui-col-md2">
                    <div style="text-align: center;background: #a3b9c3;font-size: 20px;">公告</div>
                    <div class="layui-panel call-board layui-nav layui-bg-cyan">
                        <div style="margin-bottom: 10px;" th:each="notice:${notices}"><a
                                style="color: #ffffffbd;" th:href="'/main/notice/'+${notice.id}">[[${notice.title}]]</a>
                        </div>
                        <div style="text-align: center" th:if="${notices.size() eq 0}"> 暂无</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://www.layuicdn.com/layui-v2.6.2/layui.js"></script>
<script>
    layui.use(['form', 'layer'], function () {
        let form = layui.form;
        let layer = layui.layer;
        let $ = layui.$;
        form.on('submit(info-submit)', (data) => {
            $.ajax({
                'contentType': 'application/json;charset=utf-8',
                'data': JSON.stringify(data.field),
                'url': '/api/customer/' + [[${info.id}]],
                'type': 'put',
                success: function (data) {
                    if (data.code && data.code === 200) {
                        layer.msg('修改成功');
                    } else if (data.code === 0) {
                        layer.msg(data.message);
                    }
                }
            });
            return false;
        });

        form.on('submit(submitTopUp)', () => {
            layer.prompt({title: '模拟充值，输入金额'}, (value, index) => {
                if (!'.'.includes(value)) {
                    // 加上小数后缀
                    value = value + ".00";
                }
                const reg = new RegExp('^(([1-9][0-9]{0,14})|([0])|(([0]\\.\\d{1,2}|[1-9][0-9]{0,14}\\.\\d{1,2})))$');
                if (!reg.test(value)) {
                    layer.msg("请输入合法的金额");
                    return;
                }
                $.ajax({
                    'data': "money=" + value,
                    'url': '/api/customer/topUp',
                    'type': 'post',
                    success: function (data) {
                        if (data.code && data.code === 200) {
                            layer.msg('充值成功');
                            layer.close(index);
                            setTimeout(() => {
                                location.reload()
                            }, 1000)
                        } else if (data.code === 0) {
                            layer.msg(data.message);
                        }
                    }
                });
            })
            return false;
        })


        form.verify({
            money: function (value) {//value：表单的值、item：表单的DOM对象
                if (!'.'.includes(value)) {
                    // 加上小数后缀
                    value = value + ".00";
                }
                const reg = new RegExp('^(([1-9][0-9]{0,14})|([0])|(([0]\\.\\d{1,2}|[1-9][0-9]{0,14}\\.\\d{1,2})))$');
                if (!reg.test(value)) {
                    return '请输入合法的金额';
                }
            },
            pass: [
                /^[\S]{6,12}$/
                , '密码必须6到12位，且不能出现空格'
            ]
        });

        form.on('submit(password-submit)', (data) => {
            $.ajax({
                'contentType': 'application/json;charset=utf-8',
                'data': JSON.stringify(data.field),
                'url': '/api/customer/updatePassword',
                'type': 'put',
                success: function (data) {
                    if (data.code && data.code === 200) {
                        layer.msg('修改成功');
                        setTimeout(() => {
                            location.reload()
                        }, 1000)
                    } else {
                        layer.msg(data.message);
                    }
                }
            });
            return false;
        });
    });

</script>
</body>
</html>
