<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>订单信息填写</title>
    <link href="../../static/layui2.6.8/css/layui.css" rel="stylesheet" th:href="@{/layui2.6.8/css/layui.css}"
          type="text/css">
</head>
<body>
<form class="layui-form">

    <div class="layui-form-item" hidden>
        <div class="layui-input-inline">
            <input autocomplete="off" class="layui-input" id="carInfoId" lay-verify="required" name="carInfoId" readonly
                   required
                   type="text">
        </div>
    </div>

    <div class="layui-form-item" style="margin-left: 10%;margin-right: 10%">
        <label class="layui-form-label" style="width: 35%;">租车日期</label>
        <div class="layui-input-inline">
            <input class="layui-input" id="createDate" lay-verify="required" name="createDate"
                   placeholder="yyyy-MM-dd HH:mm:ss"
                   required type="text">
        </div>
    </div>
    <div class="layui-form-item" style="margin-left: 10%;margin-right: 10%">
        <label class="layui-form-label" style="width: 35%">预计还车时间</label>
        <div class="layui-input-inline">
            <input class="layui-input" id="finishDate" lay-verify="required" name="finishDate"
                   placeholder="yyyy-MM-dd HH:mm:ss"
                   required type="text">
        </div>
    </div>
    <div class="layui-form-item" style="margin-left: 10%;margin-right: 10%">
        <label class="layui-form-label" style="width: 35%">租车人身份信息</label>
        <div class="layui-input-inline">
            <input autocomplete="off" class="layui-input" id="idNumber" lay-verify="identity" name="idNumber"
                   placeholder="输入身份证号" required type="text"/>
        </div>
    </div>
    <div class="layui-form-item" style="margin-left: 10%;margin-right: 10%">
        <div class="layui-input-block" style="margin-right: 10%;margin-left: 10%">
            <button class="layui-btn" id="submit" lay-filter="insert" lay-submit>立即提交</button>
            <button class="layui-btn layui-btn-primary" id="reset" type="reset">重置</button>
        </div>
    </div>
</form>
<script src="layui2.6.8/layui.js" th:src="@{/layui2.6.8/layui.js}"></script>
<script>
    layui.use('laydate', function () {
        const laydate = layui.laydate;
        laydate.render({
            elem: '#createDate',
            type: 'datetime'
        })

        laydate.render({
            elem: '#finishDate',
            type: 'datetime'
        })
    })
</script>
<script>
    layui.use(['layer', 'form', 'laydate'], function () {
        const layer = layui.layer;
        const form = layui.form
        const laydate = layui.laydate;
        const $ = layui.$;
        form.on('submit(insert)', function (data) {
            const params = JSON.stringify(data.field);
            // 添加检查单
            $.ajax({
                'contentType': 'application/json;charset=utf-8',
                'data': params,
                'url': '/api/order/initOrder',
                'type': 'post',
                success: function (data) {
                    if (data.code && data.code === 200) {
                        layer.msg('订单创建成功，等待工作人员审核。');
                        setTimeout(() => {
                            layer.close(layer.index);
                            window.parent.location.reload();
                        }, 1000)
                    } else {
                        layer.msg(data.message);
                    }
                }
            });
            return false;
        })
    });

    laydate.render({
        elem: '#createDate',
        type: 'datetime'
    });

    laydate.render({
        elem: '#finishDate',
        type: 'datetime'
    });

    laydate.render({
        elem: '#test5'
        , type: 'datetime'
    });
</script>
</body>
</html>
