<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>首页，欢迎租车</title>
    <link href="../../static/layui2.6.8/css/layui.css" rel="stylesheet" th:href="@{/layui2.6.8/css/layui.css}"
          type="text/css">
</head>
<style>
    .layui-body {
        margin-top: 60px;
        position: initial !important;

    }

    .center-context {
        background: #f2f2f2;
    }

    .call-board > a {
        height: 25px;
        padding-left: 5px;
    }

    .layui-footer {
        left: 0 !important;
        text-align: center;
    }
</style>

<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo">汽车租赁</div>
        <!-- 头部区域（可配合layui 已有的水平导航） -->
        <ul class="layui-nav layui-layout-left">
            <li class="layui-nav-item"><a href="/main">首页</a></li>
            <li class="layui-nav-item"><a th:href="'/main/type?carTypeId=1'">车辆分类</a></li>
            <li class="layui-nav-item"><a th:href="'/main/search'">车辆搜索</a></li>
            <li class="layui-nav-item"><a th:href="'/main/notice/1'">公告</a></li>
        </ul>
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item" th:if="not ${session.customerId}"><a href="/customerLogin" id="login">登录</a></li>
            <li class="layui-nav-item" th:if="${session.customerId}"><img class="layui-nav-img" src="/default.jpg"></li>
            <li class="layui-nav-item" th:if="${session.customerId}"><span
                    th:text="${session.customer.username}"></span></li>
            <li class="layui-nav-item layui-this" th:if="${session.customerId}"><a href="/myOrder">我的订单</a></li>
            <li class="layui-nav-item" th:if="${session.customerId}"><a href="/myAssess">我的评价</a></li>
            <li class="layui-nav-item" th:if="${session.customerId}"><a href="/customerInfo">个人中心</a></li>
            <li class="layui-nav-item" th:if="${session.customerId}"><a href="/customer/exit" id="exit">退出</a></li>
        </ul>
    </div>

    <div class="layui-body layui-container center-context" style="padding: 20px">
        <div class="layui-form">
            <div class="layui-inline layui-hide">
                <input autocomplete="off" class="layui-input" name="customerId" readonly th:value="${id}">
            </div>
            订单号：
            <div class="layui-inline">
                <input autocomplete="off" class="layui-input" name="orderNumber">
            </div>
            车牌号：
            <div class="layui-inline">
                <input autocomplete="off" class="layui-input" name="carPlateNumber">
            </div>
            <button class="layui-btn" lay-filter="search" lay-submit>搜索</button>
        </div>
        <table class="layui-hide" id="order" lay-filter="order"></table>
    </div>

</div>
<script src="layui2.6.8/layui.js" th:src="@{/layui2.6.8/layui.js}"></script>

<script id="leftBtn" type="text/html">
    {{#  if(d.state == 1){ }}
    <!--    <a class="layui-btn layui-btn-norma layui-btn-xs layui-btn-disabled">正在处理中</a>-->
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="cancelBorrowCar">取消借车</a>
    {{#  } }}
    {{#  if(d.state == 2){ }}
    <a class="layui-btn layui-btn-xs" lay-event="applyReturnCar">申请还车</a>
    <a class="layui-btn layui-btn-warm layui-btn-xs" lay-event="applyExtension">申请延期</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="accidentReport">事故上报</a>
    {{#  } }}
    {{#  if(d.state == 4||d.state == 10){ }}
    <!--    <a class="layui-btn layui-btn-norma layui-btn-xs layui-btn-disabled">正在处理中</a>-->
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="cancelReturnCar">取消还车</a>
    {{#  } }}
    {{#  if(d.state == 5){ }}
    <a class="layui-btn layui-btn-xs" lay-event="applyReturnCar">重新申请还车</a>
    {{#  } }}
    {{#  if(d.state == 6){ }}
    <!--    <a class="layui-btn layui-btn-xs layui-btn-disabled">订单已完成</a>-->
    {{#  } }}
    {{#  if(d.state == 7){ }}
    <a class="layui-btn layui-btn-xs layui-btn-disabled">事故处理中</a>
    {{#  } }}
    {{#  if(d.state == 8){ }}
    <a class="layui-btn layui-btn-xs layui-btn-disabled">已取消</a>
    {{#  } }}
</script>
<script th:inline="javascript" type="text/javascript">
    layui.use(['table', 'layer', 'form'], function () {
        const table = layui.table;
        const layer = layui.layer;
        const form = layui.form;
        const $ = layui.$;
        const tableIns = table.render({
            id: 'order-table',
            elem: '#order',
            url: "/api/order/page",
            method: 'post', //异步请求方法
            defaultToolbar: ['filter'],
            contentType: 'application/json',
            title: '订单表',
            where: {customerId: [[${id}]]},
            cellMinWidth: 200,
            cols: [
                [
                    // {type: 'checkbox', fixed: 'left'},
                    {field: 'orderNumber', title: '订单号', width: 200,},
                    {field: 'carPlateNumber', title: '车牌号', width: 120, event: 'openDetail', style: 'color:#4682B4'},
                    {field: 'customerName', title: '客户名称', width: 100},
                    {
                        field: 'state', title: '状态', width: 120, templet: function (d) {
                            switch (d.state) {
                                case 1:
                                    return '<span style="color: #00cc03;">申请借车</span>';
                                case 2:
                                    return '<span style="color: #ccaa00;">订单进行中</span>';
                                case 3:
                                    return '<span style="color: #DC143C;">管理员已拒绝</span>';
                                case 4:
                                    return '<span style="color: #00cc03;">申请还车</span>';
                                case 5:
                                    return '<span style="color: #DC143C;">管理员已拒绝</span>';
                                case 6:
                                    return '<span style="color: #808080;">订单已结束</span>';
                                case 7:
                                    return '<span style="color: #ccaa00;">事故单处理中</span>';
                                case 8:
                                    return '<span style="color: #808080;">订单已取消</span>';
                                case 9:
                                    return '<span style="color: #ccaa00;">车辆复检中</span>';
                                case 10:
                                    return '<span style="color: #ccaa00;">车辆待复检</span>';
                            }
                        }
                    },
                    {field: 'tenancyTerm', title: '租期', width: 70,},
                    {field: 'cashPledge', title: '押金(元)', width: 100,},
                    {field: 'money', title: '租金(元)', width: 100,},
                    {field: 'fine', title: '罚金(元)', width: 100},
                    {field: 'penalty', title: '滞纳金(元)', width: 100},
                    {field: 'total', title: '总金额(元)', width: 100},
                    {field: 'startDate', title: '开始租期', width: 120,},
                    {field: 'endDate', title: '结束租期', width: 120,},
                    {field: 'outDate', title: '出库时间', width: 120,},
                    {field: 'inDate', title: '入库时间', width: 120,},
                    {field: 'feedback', title: '处理意见', width: 100,},
                    {fixed: 'right', title: '操作', toolbar: '#leftBtn', width: 250}
                ]],
            page: true
            , response: {
                statusCode: 200 //重新规定成功的状态码为 200，table 组件默认为 0
            }
            , request: {
                pageName: 'pageNum' //页码的参数名称，默认：page
                , limitName: 'pageSize' //每页数据量的参数名，默认：limit
            }
            , parseData: function (res) { //将原始数据解析成 table 组件所规定的数据
                console.log(res);
                return {
                    "code": res.code, //解析接口状态
                    "msg": res.message, //解析提示文本
                    "count": res.map.data.total, //解析数据长度
                    "data": res.map.data.records//解析数据列表
                };
            }
        });

        // 重载
        form.on("submit(search)", data => {
            tableIns.reload({
                url: "/api/order/page",
                contentType: 'application/json',
                method: 'post',
                where: data.field,
                page: {
                    pageNum: 1 // 重新从第 1 页开始
                }
            });
        })


        table.on("tool(order)", (obj) => {
            const data = obj.data; //获得当前行数据
            const layEvent = obj.event;
            console.log(data);
            // 取消借车
            if (layEvent === 'cancelBorrowCar') {
                const url = "/api/order/" + data.id + "/state/8";
                $.post(url, data, function (data) {
                    if (data.code && data.code === 200) {
                        layer.msg("处理成功");
                        setTimeout(() => {
                            layer.closeAll();
                            table.reload('order-table');
                        }, 1000)
                    } else {
                        layer.msg(data.message);
                    }
                })
            }
            // 取消还车
            else if (layEvent === 'cancelReturnCar') {
                const url = "/api/order/" + data.id + "/state/2";
                $.post(url, data, function (data) {
                    if (data.code && data.code === 200) {
                        layer.msg("处理成功");
                        setTimeout(() => {
                            layer.closeAll();
                            table.reload('order-table');
                        }, 1000)
                    } else {
                        layer.msg(data.message);
                    }
                })
            }
            // 申请还车
            else if (layEvent === 'applyReturnCar') {
                layer.open({
                    title: '评价单',
                    type: 2,
                    skin: 'layui-layer-rim', //加上边框
                    area: ['450px', '500px'], //宽高
                    offset: 'auto',
                    closeBtn: 1,
                    content: '/return',
                    success: function (layero, index) {
                        let body = layer.getChildFrame('body', index);
                        body.find('#orderId').val(data.id);
                        body.find('#orderNumber').val(data.orderNumber);
                    },
                });
            }
            // 事故上报
            else if (layEvent === 'accidentReport') {
                layer.open({
                    title: '提交事故',
                    type: 2,
                    skin: 'layui-layer-rim', //加上边框
                    area: ['450px', '500px'], //宽高
                    offset: 'auto',
                    closeBtn: 1,
                    content: '/check',
                    success: function (layero, index) {
                        let body = layer.getChildFrame('body', index);
                        body.find('#orderId').val(data.id);
                        body.find('#orderNumber').val(data.orderNumber);
                    },
                });
            }
            // 申请延期
            else if (layEvent === 'applyExtension') {
                layer.open({
                    title: '申请延期',
                    type: 2,
                    skin: 'layui-layer-rim', //加上边框
                    area: ['450px', '500px'], //宽高
                    offset: 'auto',
                    closeBtn: 1,
                    content: '/delay',
                    success: function (layero, index) {
                        let body = layer.getChildFrame('body', index);
                        body.find('#orderId').val(data.id);
                        body.find('#endDate').val(data.endDate);
                        body.find('#orderNumber').val(data.orderNumber);
                    },
                });
            } else if (layEvent === 'openDetail') {
                open("/main/carDetail/" + data.carInfoId, "_self");
            }
        })
    });
</script>
</body>
</html>
