<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>检查单据填写</title>
    <link href="../../static/layui2.6.8/css/layui.css" rel="stylesheet" th:href="@{/layui2.6.8/css/layui.css}"
          type="text/css">
</head>
<body>
<form class="layui-form">
    <div class="layui-form-item">
        <label class="layui-form-label">订单号码</label>
        <div class="layui-input-inline">
            <input autocomplete="off" class="layui-input layui-hide" id="orderId" lay-verify="required" name="orderId"
                   readonly required
                   type="text">
            <input autocomplete="off" class="layui-input" id="orderNumber" lay-verify="required" name="orderNumber"
                   readonly
                   required type="text">
        </div>
        <div class="layui-form-mid layui-word-aux">系统自动带出</div>
    </div>

    <div class="layui-form-item layui-form-text">
        <label class="layui-form-label">订单评价</label>
        <div class="layui-input-inline">
            <textarea autocomplete="off" class="layui-textarea" name="remark" placeholder="订单评价"></textarea>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label"></label>
        <div class="layui-input-inline">
            <button autocomplete="off" class="layui-btn" lay-filter="insert" lay-submit style="text-align: center">立即提交
            </button>
        </div>
    </div>
</form>
<script src="layui2.6.8/layui.js" th:src="@{/layui2.6.8/layui.js}"></script>
<script>
    layui.use(['layer', 'form'], function () {
        const layer = layui.layer;
        const form = layui.form;
        const $ = layui.$;
        form.on('submit(insert)', function (data) {
            const params = JSON.stringify(data.field);
            // 添加检查单
            $.ajax({
                'contentType': 'application/json;charset=utf-8',
                'data': params,
                'url': '/api/assess',
                'type': 'post',
                success: function (data) {
                    if (data.code && data.code === 200) {
                        layer.msg("处理成功");
                        setTimeout(() => {
                            layer.close(layer.index);
                            window.parent.location.reload();
                        }, 1000)
                    } else {
                        layer.msg(data.message);
                    }
                }
            });
            return false;
        })
    });
</script>
</body>
</html>
