<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="60 seconds" debug="false">
    <property name="LOG_HOME" value="logs"/>
    <property name="APPLICATION_LOG_HOME" value="logs"/>
    <property name="LOG_PATTERN"
              value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{20} - [%method,%line] - %msg%n"/>
    <property name="CONSOLE_LOG_PATTERN"
              value="%boldRed(%d{yyyy-MM-dd HH:mm:ss}) | %highlight(%-5level) | %boldYellow(%thread) | %boldGreen(%logger) | %boldCyan(%msg%n)"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <appender name="FILE_APPLICATION" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>info</level>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${APPLICATION_LOG_HOME}/application_%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
            <totalSizeCap>20MB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <appender name="FILE_ROOT" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>info</level>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${APPLICATION_LOG_HOME}/root_%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
            <totalSizeCap>20MB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <appender name="ASYNC" class="ch.qos.logback.classic.AsyncAppender">
        <discardingThreshold>0</discardingThreshold>
        <queueSize>512</queueSize>
        <appender-ref ref="FILE_APPLICATION"/>
        <appender-ref ref="FILE_ROOT"/>
    </appender>

    <springProfile name="dev">
        <logger name="com.rentcar" level="info" additivity="true">
            <appender-ref ref="FILE_APPLICATION"/>
        </logger>
        <root level="info">
            <appender-ref ref="CONSOLE"/>
            <appender-ref ref="FILE_ROOT"/>
        </root>
    </springProfile>

    <springProfile name="jar">
        <logger name="com.rentcar" level="info" additivity="true">
            <appender-ref ref="FILE_APPLICATION"/>
        </logger>
        <root level="info">
            <appender-ref ref="CONSOLE"/>
            <appender-ref ref="FILE_ROOT"/>
        </root>
    </springProfile>

    <springProfile name="docker">
        <logger name="com.rentcar" level="info" additivity="true">
            <appender-ref ref="FILE_APPLICATION"/>
        </logger>
        <root level="info">
            <appender-ref ref="CONSOLE"/>
            <appender-ref ref="FILE_ROOT"/>
        </root>
    </springProfile>
</configuration>