<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <title>User</title>
    <meta content="webkit" name="renderer">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport">
    <link href="../static/layui2.6.8/css/layui.css" th:href="@{/layui2.6.8/css/layui.css}" rel="stylesheet" type="text/css">
    <!-- 注意：如果你直接复制所有代码到本地，上述css路径需要改成你本地的 -->
</head>
<body>
<table class="layui-hide" id="test" lay-filter="test"></table>

<script id="barDemo" type="text/html">
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="allocation">分配资源</a>
</script>

<script src="layui2.6.8/layui.js" th:src="@{/layui2.6.8/layui.js}"></script>
<!-- 注意：如果你直接复制所有代码到本地，上述js路径需要改成你本地的 -->
<script id="checkboxTpl" type="text/html">
    <input type="checkbox" name="activate" value="{{d.id}}" title="激活" lay-skin="switch" lay-text="on|off"
           lay-filter="lockDemo" {{ d.activate=="on"?'checked':'' }}>
</script>
<script th:inline="none" type="text/javascript">
    layui.use('table', function () {
        let table = layui.table;
        let form = layui.form;
        let $ = layui.$;
        table.render({
            elem: '#test',
            url: "userDate",
            toolbar: 'default',
            title: '角色表',
            cols: [[
                {type: 'checkbox', fixed: 'left'},
                {field: 'id', title: 'id', width: 70,},
                {field: 'username', title: '用户名',},
                {field: 'password', title: '密码',},
                {field: 'activate', templet: '#checkboxTpl', unresize: true, title: '激活'},
                {field: 'email', title: '邮箱'},
                {field: 'phone', title: '电话'},
                {field: 'gender', title: '性别'},
                {field: 'remark', title: '备注'},
                {fixed: 'right', title: '操作', toolbar: '#barDemo', width: 200}
            ]],
            page: true
            , response:
                {
                    statusCode: 200 //重新规定成功的状态码为 200，table 组件默认为 0
                }
            , parseData: function (res) { //将原始数据解析成 table 组件所规定的数据
                console.log(res);
                return {
                    "code": res.code, //解析接口状态
                    "msg": res.message, //解析提示文本
                    "count": res.map.data.total, //解析数据长度
                    "data": res.map.data.records//解析数据列表
                };
            }
        });

        form.on('switch(lockDemo)', function (obj) {
            let name;
            let Message = "";
            if (obj.elem.checked) {
                name = "on";
                Message = "激活成功";
            } else {
                name = "off";
                Message = "已锁定"
            }
            let value = "id=" + this.value + "&userActivate=" + name;
            $.ajax({
                type: "POST",
                data: value,
                url: "userActivate",
                success: function () {
                    layer.tips(Message, obj.othis);
                }
            })
        });

        table.on('toolbar(test)', function (obj) {
            let checkStatus = table.checkStatus(obj.config.id)
            let data = checkStatus.data;
            switch (obj.event) {
                case 'add':
                    layer.open({
                        type: 2 //Page层类型
                        , area: ['600px', '350px']
                        , title: '添加'
                        , shade: 0.6 //遮罩透明度
                        , maxmin: false //不允许全屏最小化
                        , anim: 1 //0-6的动画形式，-1不开启
                        , content: 'userAddView'
                    });
                    break;
                case 'update':
                    if (data.length === 0) {
                        layer.msg('请选择一行');
                    } else if (data.length > 1) {
                        layer.msg('只能同时编辑一个');
                    } else {
                        //layer.alert('编辑 [id]：'+ checkStatus.data[0].name);
                        edit(checkStatus.data[0]);
                    }
                    break;
                case 'delete':
                    if (data.length === 0) {
                        layer.msg('请选择一行');
                    } else {
                        layer.confirm('真的删除行么', function () {
                            del(checkStatus.data[0]);
                        });
                    }
                    break;
            }
            ;
        });

        //监听行工具事件
        table.on('tool(test)', function (obj) {
            let data = obj.data;
            //console.log(obj)
            if (obj.event === 'del') {
                layer.confirm('真的删除行么', function (index) {
                    del(data, index, obj);
                });
            } else if (obj.event === 'edit') {
                edit(data);
            } else if (obj.event == 'allocation') {
                allocation(data);
            }
        });
    });
</script>

<script type="text/javascript">
    function edit(data) {
        layer.open({
            type: 2 //Page层类型
            , area: ['600px', '350px']
            , title: '编辑'
            , shade: 0.6 //遮罩透明度
            , maxmin: false //不允许全屏最小化
            , anim: 1 //0-6的动画形式，-1不开启
            , content: 'userEditView'
            , success: function (layero, index) {
                let body = layer.getChildFrame('body', index);
                const iframeWin = window[layero.find('iframe')[0]['name']];
                body.find('#id').val(data.id);
                body.find('#username').val(data.username);
                body.find('#password').val(data.password);
                body.find('#email').val(data.email);
                body.find('#phone').val(data.phone);
                body.find('#remark').val(data.remark);
            }
        });
    }
</script>

<script type="text/javascript">
    function allocation(data) {
        let id = data.id;
        layer.open({
            type: 2 //Page层类型
            , area: ['600px', '350px']
            , title: '分配资源'
            , shade: 0.6 //遮罩透明度
            , maxmin: false //不允许全屏最小化
            , anim: 1 //0-6的动画形式，-1不开启
            , content: 'roleCheckView?id=' + id
        });
    }

</script>

<script type="text/javascript">
    function del(data, index, obj) {
        let $ = layui.$;
        let parameter = "id=" + data.id;
        $.ajax({
            type: 'post'
            , data: parameter
            , url: 'userDelete'
            , success: function (data) {
                if (data) {
                    layer.alert("删除成功");
                    obj.del();
                    layer.close(index);
                } else {
                    layer.alert("删除失败")
                }
            }
        });
    }
</script>
</body>
</html>