<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>page</title>
    <meta content="webkit" name="renderer">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport">
    <script src="layui2.6.8/layui.js" th:src="@{/layui2.6.8/layui.js}"></script><link href="../../static/layui2.6.8/css/layui.css" rel="stylesheet" th:href="@{/layui2.6.8/css/layui.css}"
          type="text/css">
    <!-- 注意：如果你直接复制所有代码到本地，上述css路径需要改成你本地的 -->
</head>
<body>
<form action="Hello" class="layui-form" name="body">
    <div class="layui-form-item">
        <label class="layui-form-label">id</label>
        <div class="layui-input-inline">
            <input autocomplete="off" class="layui-input" id="id" name="id" placeholder="请输入ID" readOnly="true"
                   type="text"/>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">用户名</label>
        <div class="layui-input-inline">
            <input autocomplete="off" class="layui-input" id="username" lay-verify="required" name="username"
                   placeholder="请输入用户名"
                   required type="text"/>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">密码</label>
        <div class="layui-input-inline">
            <input autocomplete="off" class="layui-input" id="password" lay-verify="required" name="password"
                   placeholder="请输入密码"
                   required type="text"/>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">邮箱</label>
        <div class="layui-input-inline">
            <input autocomplete="off" class="layui-input" id="email" lay-verify="required|email" name="email"
                   placeholder="请输入email"
                   required type="text"/>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">电话</label>
        <div class="layui-input-inline">
            <input autocomplete="off" class="layui-input" id="phone" lay-verify="required|number|phone" name="phone"
                   placeholder="请输入手机号"
                   required type="number"/>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">性别</label>
        <div class="layui-input-inline">
            <input name="gender" title="男" type="radio" value="男">
            <input name="gender" title="女" type="radio" value="女">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">激活</label>
        <div class="layui-input-inline">
            <input id="activate" lay-filter="switchTest" lay-skin="switch" lay-text="ON|OFF" name="activate"
                   type="checkbox"/>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">备注</label>
        <div class="layui-input-inline">
            <input autocomplete="off" class="layui-input" id="remark" name="remark" placeholder="请输入备注" type="text"/>
        </div>
    </div>

    <input name="type" type="hidden" value="useredit">
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" lay-filter="formDemo" lay-submit="">立即提交</button>
        </div>
    </div>
</form>

<script src="layui2.6.8/layui.js" th:src="@{/layui2.6.8/layui.js}"></script>

<script>
    layui.use(['form', 'jquery'], function () {
        let form = layui.form;
        let $ = layui.$;
        form.on('submit()', function () {
            let parameter = $("form").serialize();
            $.ajax({
                type: 'post'
                , data: parameter
                , url: '/userUpdate'
                , success: function (data) {
                    if (data) {
                        layer.msg("提交成功");
                        layer.close(layer.index);
                        window.parent.location.reload();
                    } else {
                        layer.msg("提交失败")
                    }
                }
            });
            return false;
        });
    });
</script>
</body>
</html>