<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>注册</title>
    <meta content="webkit" name="renderer">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport">
    <link href="../../static/layui2.6.8/css/layui.css" rel="stylesheet" th:href="@{/layui2.6.8/css/layui.css}"
          type="text/css">
    <link href="../../static/style/admin.css" th:href="@{/style/admin.css}" media="all" rel="stylesheet">
    <link href="../../static/style/login.css" th:href="@{/style/login.css}" media="all" rel="stylesheet">
    <!-- 注意：如果你直接复制所有代码到本地，上述css路径需要改成你本地的 -->
    <style>
        .layadmin-user-login {
            padding: 0px;
        }
    </style>
</head>
<body>
<img border='0' height='100%' src='../../static/back.jpg' th:src="@{/back.jpg}"
     style='position: absolute;left:0px;top:0px;z-index: -1' width='100%'>
<div class="layadmin-user-login layadmin-user-display-show" id="LAY-user-login" style="display: none;">
    <div class="layadmin-user-login-main">
        <div class="layadmin-user-login-box layadmin-user-login-header">
            <h2 style="color: snow">注 册</h2>
            <p style="color: lightyellow">汽车租赁平台</p>
        </div>
        <div class="layadmin-user-login-box layadmin-user-login-body layui-form">
            <form class="layui-form" name="body">
                <div class="layui-form-item">
                    <label class="layadmin-user-login-icon layui-icon layui-icon-username"
                           for="LAY-user-reg-username"></label>
                    <input class="layui-input" id="LAY-user-reg-username" lay-verify="required|uname" name="username"
                           placeholder="用户名" type="text">
                </div>
                <div class="layui-form-item">
                    <label class="layadmin-user-login-icon layui-icon layui-icon-password"
                           for="password"></label>
                    <input class="layui-input" id="password" lay-verify="required|pass" name="password"
                           placeholder="密码" type="password">
                </div>
                <div class="layui-form-item">
                    <label class="layadmin-user-login-icon layui-icon layui-icon-password"
                           for="password2"></label>
                    <input class="layui-input" id="password2" lay-verify="required" name="password2"
                           placeholder="确认密码" type="password">
                </div>
                <div class="layui-form-item">
                    <label class="layadmin-user-login-icon layui-icon layui-icon-cellphone"
                           for="LAY-user-reg-phone"></label>
                    <input class="layui-input" id="LAY-user-reg-phone" lay-verify="phone" name="phone" placeholder="电话"
                           type="phone">
                </div>
                <div class="layui-form-item">
                    <input checked id="LAY-user-reg-man" name="gender" title="男" type="radio" value="男" style="color: lightyellow">
                    <input id="LAY-user-reg-woman" name="gender" title="女" type="radio" value="女"style=" color: lightyellow">
                </div>
                <div class="layui-form-item">
                    <label class="layadmin-user-login-icon layui-icon layui-icon-email"
                           for="LAY-user-reg-email"></label>
                    <input class="layui-input" id="LAY-user-reg-email" lay-verify="email" name="email" placeholder="邮箱"
                           type="email">
                </div>

                <div class="layui-form-item">
                    <div class="layui-row">
                        <div class="layui-col-xs7">
                            <label class="layadmin-user-login-icon layui-icon layui-icon-vercode"
                                   for="LAY-user-login-vercode"></label>
                            <input class="layui-input" id="LAY-user-login-vercode" lay-verify="required" name="authCode"
                                   placeholder="图形验证码" type="text">
                        </div>
                        <div class="layui-col-xs5">
                            <div style="margin-left: 10px;">
                                <img class="layadmin-user-login-codeimg" id="LAY-user-get-vercode" src="/getAuthCode">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="layui-form-item">
                    <button class="layui-btn layui-btn-fluid" lay-filter="submit" lay-submit>注 册</button>
                </div>
                <div class="layui-form-item">
                    <button class="layui-btn layui-btn-fluid" type="reset">重 置</button>
                </div>
            </form>
            <div class="layui-trans layui-form-item layadmin-user-login-other">
                <a class="layadmin-user-jump-change layadmin-link" href="/customerLogin">返回登录</a>
            </div>
        </div>
    </div>

    <div class="layui-trans layadmin-user-login-footer">
        <p>© 2022 <a href="" target="_blank">lzj.com</a></p>
    </div>

</div>

<script src="layui2.6.8/layui.js" th:src="@{/layui2.6.8/layui.js}"></script>

<script>
    layui.use(['form', 'jquery'], function () {
        let form = layui.form;
        let $ = layui.$;
        form.verify({
            pass: [
                /^[\S]{6,12}$/
                , '密码用户名必须6到12位，且不能出现空格'
            ],
            uname: [
                /^[\S]{4,12}$/
                , '用户名必须4到12位，且不能出现空格'
            ]
        });
        form.on('submit()', function () {
            const password = $("#password").val();
            const password2 = $("#password2").val();
            if (!(password === password2)) {
                layer.alert("两次密码不一致");
                return false;
            }
            let parameter = $("form").serialize();
            $.ajax({
                type: 'post'
                , data: parameter
                , url: '/customerRegister'
                , success: function (data) {
                    if (data.code === 200) {
                        layer.alert(data.message);
                        setTimeout(function () {
                            window.location.href = "/customerLogin"
                        }, 1000)
                    } else {
                        layer.msg(data.message);
                    }
                }
            });
            return false;
        });
    });
</script>
</body>
</html>