<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rentcar.mapper.AssessMapper">
    <select id="selectPage" resultType="com.rentcar.bean.Assess">
        SELECT ca.*,ci.plate_number car_plate_number,cus.username customer_name
        FROM car.car_assess ca
        LEFT JOIN car.customer cus on cus.id = ca.customer_id
        LEFT JOIN car.car_order co on ca.order_number = co.order_number
        LEFT JOIN car.car_info ci on ci.id = ca.car_info_id
        <if test="ew.customSqlSegment != '' and ew.customSqlSegment != null">
            ${ew.customSqlSegment}
        </if>
    </select>
    <select id="getAssessByCarId" resultType="com.rentcar.bean.Assess">
        SELECT ca.*, ci.plate_number car_plate_number, cus.username customer_name
        FROM car.car_assess ca
                 LEFT JOIN car.car_info ci on ci.id = ca.car_info_id
                 LEFT JOIN car.customer cus on cus.id = ca.customer_id
        WHERE ca.car_info_id = ${id}
          AND ca.state = 0
          AND ca.deleted = 0;
    </select>
    <select id="getAssessByOrdNum" resultType="com.rentcar.bean.Assess">
        SELECT *
        FROM car.car_assess
        WHERE order_number = ${orderNumber}
          AND state = 1
          AND deleted = 0
        ORDER BY create_time DESC LIMIT 1;
    </select>
    <select id="getIdByOrderNum" resultType="java.lang.Integer">
        SELECT id
        FROM car.car_assess
        WHERE order_number = ${orderNumber}
          AND state = 1
          AND deleted = 0
    </select>
</mapper>