<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rentcar.mapper.CarInfoMapper">
    <select id="selectPage" resultType="com.rentcar.bean.CarInfo">
        select ci.*,ct.name car_type_name
        from car.car_info ci
        left join car.car_type ct
        on ct.id = ci.car_type
        <if test="ew.customSqlSegment != '' and ew.customSqlSegment != null">
            ${ew.customSqlSegment}
        </if>
    </select>
</mapper>