<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rentcar.mapper.MenuMapper">
    <resultMap id="BaseResultMap" type="com.rentcar.bean.Menu">
    </resultMap>

    <select id="getMenuByParentId" resultMap="BaseResultMap">
        select m.*
        from car.menu m
        where m.menu_parent_id = #{id}
          and m.menu_activate = 'on'
    </select>

    <update id="action">
        update car.menu m
        set m.menu_activate = #{activate}
        where m.id = #{id}
    </update>

</mapper>